::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 4px;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page_wrap {
    height: 100vh;
    width: 100%;
    display: flex;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px 4fr 8fr;
    align-items: center;
}

.details {
    padding: 10px 20px;
    height: 70vh;
    background-color: aquamarine;
    overflow-y: scroll;
    border-radius: 0 5px 5px 0;
}

.card {}

.details {}

/* menu styling */

#sidebar {
    background: white;
    border-radius: 5px;
    margin: 0 10px 0 0;
}

#sidebar>ul {}

li.side-menu {
    padding: 24px 10px;
    color: blueviolet;
    text-align: center;
    position: relative;
}

.menu-text {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* card styling */

.user-img {
    background: #c5cae9;
    border-radius: 5px 5px 0 0;
    position: relative;
    overflow: hidden;
}

.user-img>img {
    width: 100%;
    height: 400px;
}

.title p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

/* media query */

/* mobile styling */
@media screen and (min-width: 320px) and (max-width: 524px) {
    /* 480 - 523   */
    .wrapper {
        width: 80%;
        grid-template-columns: 12fr;
    }
    .menu {
        margin-bottom: 2px;
    }
    #sidebar {
        margin: 0;
        border-radius: 0;
    }
    #sidebar>ul {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
    }
    .menu-icon {
        /* display: inline-block; */
    }
    .menu-text {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }
    li.side-menu {
        padding: 10px;
    }
    .user-card {
        margin-bottom: 10px;
    }
    .user-img {
        border-radius: 0;
    }
    .details {
        border-radius: 0 0 5px 5px;
    }
}

@media screen and (min-width: 524px) and (max-width: 640px) {
    /* 524 - 639  */
    .wrapper {
        width: 60%;
        grid-template-columns: 12fr;
    }
    .menu {
        margin-bottom: 2px;
    }
    #sidebar {
        margin: 0;
        border-radius: 0;
    }
    #sidebar>ul {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
    }
    .menu-icon {
        /* display: inline-block; */
    }
    .menu-text {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }
    li.side-menu {
        padding: 10px;
    }
    .user-card {
        margin-bottom: 10px;
    }
    .user-img {
        border-radius: 0;
    }
    .details {
        border-radius: 0 0 5px 5px;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    /* 640 - 767  */
    .wrapper {
        width: 60%;
        grid-template-columns: 12fr;
    }
    .menu {
        margin-bottom: 2px;
    }
    #sidebar {
        margin: 0;
        border-radius: 0;
    }
    #sidebar>ul {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
    }
    .menu-icon {
        /* display: inline-block; */
    }
    .menu-text {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }
    li.side-menu {
        padding: 10px;
    }
    .user-card {
        margin-bottom: 10px;
    }
    .user-img {
        border-radius: 0;
    }
    .details {
        border-radius: 0 0 5px 5px;
    }
}

/* tab styling */

@media screen and (min-width: 767px) and (max-width: 992px) {
    /* 768 - 991 */
    .wrapper {
        width: 98%;
        grid-template-columns: 90px 4fr 8fr;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    /* 992 - 1023 */
    .wrapper {
        width: 95%;
        grid-template-columns: 90px 4fr 8fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    /* > 1024  */
}